<section class="section--offres">
    <div class="section--offres--title title--candidature">Offres similaires</div>
    <div class="section--offres--items">
        <div class="section--offres--items--line first">
            <span class="s-o-i-l-title--red">CDD</span>
            <span class="s-o-i-l-text">International Marketing Project Manager H/F</span>
            <span class="s-o-i-l-loc">
                <img class="img--loc" src="img/location (1).png" />
                <p>Brazzaville</p>
            </span>
        </div>
        <div class="section--offres--items--line">
            <span class="s-o-i-l-title--red">CDI</span>
            <span class="s-o-i-l-text">Controleur de Gestion Sociale H/F </span>
            <span class="s-o-i-l-loc">
                <img class="img--loc" src="img/location (1).png" />
                <p>Point-Noire</p>
            </span>
        </div>
        <div class="section--offres--items--line">
            <span class="s-o-i-l-title--red">CDD</span>
            <span class="s-o-i-l-text">Conseiller Clientele BtoB, H/F, CDD</span>
            <span class="s-o-i-l-loc">
                <img class="img--loc" src="img/location (1).png" />
                <p>Pointe-Noire</p>
            </span>
        </div>
    </div>


</section>