.header__top--user--hover {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top--user--hover:hover {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.header__top--user--hover:active {
    background-color: rgb(166, 166, 166);
}



.header__top--user--FL {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.header__top--user {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    gap: 20px;

}