<section class="middle-section">
    <div class="title--candidature">Vos Candidatures</div>
    <table>
        <thead>
            <tr>
                <th># DE L'OFFRE</th>
                <th>INTITULE DE L'OFFRE</th>
                <th>DATE DE MISE EN LIGNE</th>
                <th>STATUS DE LA CANDIDATURE</th>
                <th>RETOUR RH</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3234</td>
                <td>Chef de service deploiement</td>
                <td>13/08/2018</td>
                <td>En cours</td>
                <td><span class="td--blue">Entretien le 31/08/2018</span></td>
            </tr>
            <tr>
                <td>3237</td>
                <td>Controleur de Gestion</td>
                <td>09/08/2018</td>
                <td>Entretien le 31/08/2018</td>
                <td><span class="td--red">Rejetee</span></td>
            </tr>
            <tr>
                <td>3237</td>
                <td>Conseillere clientelle</td>
                <td>14/08/2018</td>
                <td>Entretien le 31/08/2018</td>
                <td><span class="td--green">Acceptee</span></td>
            </tr>

        </tbody>
    </table>
</section>