<footer class="footer">
    <section class="footer--head">
        <span class="footer--head_title">NOUS CONTACTER</span>
        <p>Nous appeler: (242) 06 504 22 22</p>
        <p>Nous ecrire: sgc.qualite&#64;socgen.com</p>
        <p>Trouver une agence</p>

    </section>
    <section class="footer--bottom">
        <div class="footer--bottom_first_container">
            <img class="logo" src="img/SG_logo-removebg-preview (1).png" alt="societe generale" />

            <div class="footer--bottom_first_container_select">
                <select id="options" name="options">
                    <option value="Nos sites">Nos sites</option>
                </select>
            </div>
        </div>
        <div class="footer--bottom__second_container">
            <span class="footer--bottom__second_container_items">Contact</span>
            <span class="footer--bottom__second_container_items">Mention legale</span>
            <span class="footer--bottom__second_container_items">Plan du site</span>
            <span class="footer--bottom__second_container_items">Securite</span>
            <span class="footer--bottom__second_container_items">Credits</span>
        </div>
    </section>
</footer>