.header__top--user--FL {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.header__top--user {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    gap: 20px;

}